:host {
  --min-loading-height: 150px;
  --radius: 6px;
  --padding: 1rem;
  --height: auto;
}

p-skeleton {
  @apply min-h-[var(--min-loading-height)] h-auto rounded-base;
}

.ag-card {
  @apply w-full h-full rounded-base p-[var(--padding)] bg-transparent shadow-base;
}

.title {
  @apply font-semibold text-base sm:text-lg md:text-xl;
}

.subtitle {
  @apply text-base sm:text-lg;
}

.content {
  @apply h-[var(--height)];
}

// Variants
.ag-card.light {
  @apply bg-ck-neutral-50 dark:bg-ck-neutral-800;

  .p-card-title {
    @apply dark:text-ck-neutral-300;
  }
}

.ag-card.primary {
  @apply bg-primary-50 dark:bg-primary-300;
}

.ag-card.neutral {
  @apply bg-primary-50 dark:bg-ck-neutral-900;
}

.ag-card.gray {
  @apply bg-gray-50 dark:bg-gray-200;
}

.card-title {
  @apply text-xl font-semibold px-4 pt-4;
}
